@import "partials/reset.scss";
@import "partials/variables.scss";
@import "node_modules/bootstrap/scss/bootstrap";

/* BODY */
.my-container{
    margin: 0 auto;
    width: 80vw;
}

.my-container-special{
    margin: 0 auto;
    width: 50vw;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.my-button{
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 0.8em;
}

.white-button{
    background-color: white;
    color: $blue;
    border: 1px solid $white;
    border-radius: 50%;
    padding: 20px 25px;
}

.trasparent-button{
    background: local;
    color: $grey;
    border: 1px solid $grey;
}

.bg-blue{
    background-color: $blue;
    border: 1px solid $blue;
    color: white;
}

.red-text{
    color: $red;
}

.grey-text{
    color: $grey;
}

.white-text{
    color: white;
}

.blue-text{
    color: $blue;
}

.yellow-text{
    color: $yellow;
}

.black-text{
    color: $black;
}

.text-center{
    text-align: center;
}

.blue-borders{
    border: 3px solid $blue;
    border-radius: 5px;
}

/* HEADER */
header{
    background-color: $black;
}


/* MAIN */
input{
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 0.8em;
    border: 1px solid $black;
    width: 70%;
    margin-right: 20px;

}

.mailing-list-section{
    background-color: $black;
}

.mailing-list-bottom{
    background-color: $black;
}


/* FOOTER */
footer{
    background-color: $black;
}

hr{
    color: $grey;
}

